:root{
    --borde-radio: 0.5rem;
    --padding-x: 0.5rem;
    --padding-y: 0.25rem;
}

* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

nav{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

hr{
    margin-top: 1em;
}

a:hover{
    color: lightgray;
}

body{
    background-color: black;
}

header{
    padding: 0.5em;
}

h1{
    color: white;
}

.menu{
    color: white;
    margin-top: 1em;
}

h2{
    text-align: center;
    font-size: 10em;
}

.slogan{
    background-image: url("https://picsum.photos/600");
    background-size: cover;
    background-position: center;
    padding: 2em;
    margin: 1em;
    border-radius: 0.5em;
}

.grupo-producto > .producto{
    width: 30%;
    display: inline-block;
    padding: 3em;
}

.grupo-producto{
    background-color: lightgray;
    margin: 3em;
    color: black;
    border-radius: var(--borde-radio) var(--borde-radio);
}

.producto{
    border-radius: var(--borde-radio);
    margin-bottom: 0.5em;
}

.img-producto{
    border-radius: var(--borde-radio) var(--borde-radio);
    max-width: 100%;
}

.titulo-producto{
    font-size: 1.25em;
    color: black;
}

.descripcion-prodcuto{
    text-align: justify;
    padding: 0 var(--padding-x);
}

.explicacion{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.explicacion-interior{
    background-color: black;
    width: 50%;
    margin-right: 3em;
    height: 500px;
    display:grid;
    align-items: center;
    margin-left: 1em;
}

h4,h5{
    color: khaki;
    text-align: center;
    font-size: 3em;
}

.centrado{
    color: white;
    text-align: center;
}

.quienes-somos{
    background-color:khaki;
    width: 100%;
}

.imagen{
    background-image: url("https://picsum.photos/400");
    background-size: cover;
    width: 100%;
    background-position: center;
}

.botones{
    margin-left: 48%;
    height: 5em;
    width: 5em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-redes{
    width: 100%;
}