:root{
    --borde-radio: 0.5rem;
    --padding-x: 0.5rem;
    --padding-y: 0.25rem;
}

* {
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
}

html,
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
}

nav{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

hr{
    margin-top: 1em;
}

a:hover{
    color: lightgray;
}

body{
    background-color: black;
}

header{
    padding: 0.5em;
}

h1{
    color: white;
}

.menu{
    color: white;
    margin-top: 1em;
}

h2{
    text-align: center;
    font-size: 10em;
}

.slogan{
    background-image: url("https://picsum.photos/1000");
    padding: 2em;
    margin: 1em;
    border-radius: 0.5em 0.5em 0 0;
}

.grupo-producto > .producto{
    width: 33%;
    display: inline-block;
    padding: 3em;
}

.grupo-producto{
    padding: 1em;
    color: white;
}

.producto{
    border-radius: var(--borde-radio);
    margin-bottom: 0.5em;
}

.img-producto{
    border-radius: var(--borde-radio) var(--borde-radio);
    max-width: 100%;
}

.titulo{
    padding: var(--padding-y) var(--padding-x);
    font-size: 1.25em;
    color: red;
}

.descripcion{
    text-align: justify;
    padding: 0 var(--padding-x);
}